<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Crimes in Chicago App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav >
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home  </a>
					&nbsp; &nbsp; &nbsp; &nbsp;
                    </li>
                    <li role="presentation"><a href="showSignin">Sign In  </a>
					&nbsp; &nbsp; &nbsp; &nbsp;
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up </a>
					&nbsp; &nbsp; &nbsp; &nbsp;
                    </li>
                </ul>
            </nav>
	</div>	
		</div>
 
 <h3  align="center" class="text-muted">Crimes in Chicago App</h3>
        
 
        <div class="jumbotron" align="center">
            <h1>Crimes in Chicago</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today for a safe city</a>
            </p>
        </div>
        <form action = "/graph/" , method="POST">         
        <input type="text" name="graph" placeholder="Primary Type">
        <button id="btnSignUp" class="btn btn-primary" type="submit">Okay</button>
      </form>
        <footer class="footer">
            <p>&copy; Team 8</p>
        </footer>
 
   
</body>
 
</html>